@model IEnumerable<GameStore.Client.DTO.GameDTO>

@{
    ViewData["Title"] = "Игра";
}

<h1>Игры</h1>

<p>
    <a asp-action="Create">Добавить новую игру</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Название
            </th>
            <th>
                Год выпуска
            </th>
            <th>
                Жанр
            </th>
            <th>
                Цена
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Изменить</a>
                    <a asp-action="Details" asp-route-id="@item.Id">Инфо</a>
                </td>
            </tr>
        }
                    </tbody>
                </table>
